{% extends "layout.html" %}

{% block navbar_links %}
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="padding-right: 20px;">
                <a class="nav-link" href="{{ url_for('home') }}" style="color: coral;">Home</a>
            </li>
            <li class="nav-item" style="padding-right: 20px;">
                <a class="nav-link" href="{{ url_for('organizations') }}" style="color: coral;">Organizations</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" >
            {% if current_user.is_authenticated %}
                <li class="nav-item active" style="padding-right: 20px;">
                    <div style="border-bottom: solid; border-bottom-color: coral;"><a class="nav-link" href="{{ url_for('account') }}" style="color: coral;">Account<span class="sr-only">(current)</span></a></div>
                </li>
                {% if current_user.is_organization  and current_user.answered_organization_questions %}
                    <li class="nav-item dropdown" style="padding-right: 20px;">
                        <a style="color: coral;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Post
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('post') }}">Create New Post</a>
                            <a class="dropdown-item" href="{{ url_for('view_posts') }}">View Your Posts</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item" style="padding-right: 20px;">
                    <a class="nav-link" href="{{ url_for('logout') }}" style="color: coral;">Logout</a>
                </li>
            {% else %}
                <li class="nav-item" style="padding-right: 20px;">
                    <a class="nav-link" href="{{ url_for('register') }}" style="color: coral;">Register</a>
                </li>
                <li class="nav-item" style="padding-right: 20px;">
                    <a class="nav-link" href="{{ url_for('login') }}" style="color: coral;">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock navbar_links %}

{% block main %}
    
    <div class="container" style="padding-bottom: 200px;">
        <div class="mt-5">
            <div class="media">
                <figure>
                    <img class="rounded-circle" src="{{ url_for('static', filename='images/default_user.jpg') }}" style="width: 125px; height: 125px;">
                    <figcaption>
                        <p class="mt-3 text-center">
                            {% if current_user.is_organization %}
                                <small class="text-success">Organization Account</small>
                            {% endif %}
                        </p>
                    </figcaption>
                </figure>
                <div class="media-body">
                    <div class="ml-4" style="padding-left: 30px;">
                        <h2 class="account-heading">{{ current_user.full_name }}</h2>
                        <p class="text-secondary">{{ current_user.email }}</p>
                        <p class="text-secondary">
                            <a style="color: white;" class="btn btn-info" href="{{ url_for('home') }}">Go to Home</a>
                        </p>
                        <p class="text-secondary">
                            <a style="color: black;" class="btn btn-warning" href="{{ url_for('logout') }}">Logout</a>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div>
            <div class="text-left">
                <h2 style="color: coral; padding-top: 30px;">Update Account Information</h2>
                <hr>
            </div>
            <div style="padding-top: 35px;">
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.fullname.label(class="form-control-label") }}
                            {% if form.fullname.errors %}
                                {{ form.fullname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.fullname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.fullname(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-info") }}
                    </div>
                </form>
            </div>
        </div>
        <div style="padding-top: 10px;"><hr></div>
        {% if current_user.is_organization == True and current_user.answered_organization_questions == True %}
            {% if user_organization_obj != None %}
                <div class="text-left" style="padding-top: 30px;">
                    <span class="h2" style="padding-right: 30px; color: coral;">My Organization</span><span class="text-muted">You are an administrator for this organization</span>
                    <hr>
                </div>
                <div style="padding-top: 40px;">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                <img src='{{ user_organization_obj.image }}' class="rounded-start" style="height: 100vh; width: 100vw; overflow: hidden; width: 100%; height: 100%; object-fit: cover;" alt="Organization image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <span class="h5" style="padding-top: 10px; padding-right: 20px;">{{ user_organization_obj.organization_name }}</span><span><small class="text-muted">{{ user_organization_obj.primary_location }}</small></span>
                                    <p class="card-text" style="padding-top: 10px;">{{ user_organization_obj.email_contact }} <b>|</b> {{ user_organization_obj.phonenumber_contact }}</p>
                                    <p class="card-text" style="padding-top: 10px;">Mission Statement: {{ user_organization_obj.mission_statement }}</p>                     
                                    <p class="card-text" style="padding-top: 10px;">Website Link: <a href="{{ user_organization_obj.website_link }}" target="_blank">{{ user_organization_obj.website_link }}</a></p>                     
                                    <form method="POST" action="" enctype="multipart/form-data">
                                        <span style="padding-right: 15px;">
                                            <input type="submit" class="btn btn-info" id="edit_organization_info" name="edit_organization_info" value="Edit Information">
                                        </span>
                                        <span style="padding-right: 15px;">
                                            <input type="submit" class="btn btn-warning" id="remove_from_organization" name="remove_from_organization" value="Remove Myself from this Organization">
                                        </span>
                                        <span>
                                            <input type="submit" class="btn btn-danger" id="delete_organization" name="delete_organization" value="Delete Organization">
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            {% endif %}

        {% else %}
            {% if current_user.is_organization == True and current_user.answered_organization_questions == False %}
                <div class="text-left" style="padding-top: 30px;">
                    <span class="h2" style="padding-right: 30px; color: coral;">My Organization</span>
                    <span class="text-muted">
                        {% if current_user.answered_organization_questions %}
                            You are an administrator for this organization
                        {% else %}
                            You are not part of any organization yet
                        {% endif %}
                    </span>
                    <hr>
                </div>
                <p class="text-warning">You still need to fill out information regarding your organization. Click <a href="{{ url_for('orginfo', user_id=current_user.id) }}" target="_blank">here</a> to complete.</p>
            {% endif %}
        {% endif %}
    </div>

{% endblock main %}
