{% extends "layout.html" %}

{% block navbar_links %}
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" style="padding-right: 20px;">
                <div style="border-bottom: solid; border-bottom-color: coral;"><a class="nav-link" href="{{ url_for('home') }}" style="color: coral;">Home<span class="sr-only">(current)</span></a></div>
            </li>
            <li class="nav-item" style="padding-right: 20px;">
                <a class="nav-link" href="{{ url_for('organizations') }}" style="color: coral;">Organizations</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item" style="padding-right: 20px;">
                    <a class="nav-link" href="{{ url_for('account') }}" style="color: coral;">Account</a>
                </li>
                {% if current_user.is_organization and current_user.answered_organization_questions %}
                    <li class="nav-item dropdown" style="padding-right: 20px;">
                        <a style="color: coral;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Post
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('post') }}">Create New Post</a>
                            <a class="dropdown-item" href="{{ url_for('view_posts') }}">View Your Posts</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item" style="padding-right: 20px;">
                    <a class="nav-link" href="{{ url_for('logout') }}" style="color: coral;">Logout</a>
                </li>
            {% else %}
                <li class="nav-item" style="padding-right: 20px;">
                    <a class="nav-link" href="{{ url_for('register') }}" style="color: coral;">Register</a>
                </li>
                <li class="nav-item" style="padding-right: 20px;">
                    <a class="nav-link" href="{{ url_for('login') }}" style="color: coral;">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock navbar_links %}

{% block main %}
    
    <div class="container" style="padding-bottom: 150px;">
        <div class="text-center">
            <h2 style="color: coral;">HelpDart</h2>
            <hr>
        </div>
        <div class="text-center">
            <p class="h5" style="padding: 20px;">All Events</p>
            <div style="padding-left: 75px; padding-right: 75px;"><hr></div>
        </div>
        <div class="row justify-content-center">
            {% for event in all_events %}
                <div class="col-md-6" style="padding: 30px;">
                    <div class="card text-center">
                        <div class="card-header">
                            <span style="font-size: large;">{{ (Organization.query.filter_by(id=event.organization_id).first()).organization_name }}</span> <span style="padding-left: 15px;"><small><a href="{{ url_for('organizations') }}#{{ (Organization.query.filter_by(id=event.organization_id).first()).organization_name }}">(View Organization)</a></small></span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ event.event_name }}</h5>
                            <p class="card-text">{{ event.event_category }}</p>
                            <p class="card-text" style="padding: 10px;"><b style="padding-right: 10px;">{{ event.for_display_event_datetime }}</b><br><span class="text-success" style="padding-left: 10px;">{{ event.days_until_event }} days until event</span></p>
                            
                            {% if current_user.is_organization == False %}
                                <div style="padding-right: 20px; padding-left: 10px;">
                                    <form method="POST" action="" enctype="multipart/form-data">
                                        <input id="signupforeventbtn" name="signupforeventbtn" type="hidden" value="{{ event.id }}">
                                        {{ sign_up_form.signup(class="btn btn-success") }}
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>

{% endblock main %}
