{% extends "layout.html" %}

{% block navbar_links %}
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="padding-right: 20px;">
                <a class="nav-link" href="{{ url_for('home') }}" style="color: coral;">Home</a>
            </li>
            <li class="nav-item" style="padding-right: 20px;">
                <a class="nav-link" href="{{ url_for('organizations') }}" style="color: coral;">Organizations</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item" style="padding-right: 20px;">
                    <a class="nav-link" href="{{ url_for('account') }}" style="color: coral;">Account</a>
                </li>
                {% if current_user.is_organization and current_user.answered_organization_questions %}
                    <li class="nav-item" style="padding-right: 20px;">
                        <a class="nav-link" href="{{ url_for('dashboard') }}" style="color: coral;">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown" style="padding-right: 20px;">
                        <a style="color: coral;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Post
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('post') }}">Create New Post</a>
                            <a class="dropdown-item" href="{{ url_for('view_posts') }}">View Your Posts</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item" style="padding-right: 20px;">
                    <a class="nav-link" href="{{ url_for('logout') }}" style="color: coral;">Logout</a>
                </li>
            {% else %}
                <li class="nav-item active" style="padding-right: 20px;">
                    <div style="border-bottom: solid; border-bottom-color: coral;"><a class="nav-link" href="{{ url_for('register') }}" style="color: coral;">Register<span class="sr-only">(current)</span></a></div>
                </li>
                <li class="nav-item" style="padding-right: 20px;">
                    <a class="nav-link" href="{{ url_for('login') }}" style="color: coral;">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock navbar_links %}

{% block main %}
    
    <div class="container" style="padding-bottom: 100px; padding-top: 40px;">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2 style="color: coral;">Join Existing Organization</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div style="padding-top: 30px;">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.code.label(class="form-control-label") }}
                        {% if form.code.errors %}
                            {{ form.code(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.code.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.code(class="form-control form-control-lg") }}
                        {% endif %}
                        <small>
                            If you are unsure about what this is, contact a registered administrator for your organization to get the code.
                        </small>
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-info") }}
                </div>
            </form>
        </div>
    </div>

{% endblock main %}
