{% extends "layout.html" %}

{% block navbar_links %}
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="padding-right: 20px;">
                <a class="nav-link" href="{{ url_for('home') }}" style="color: coral;">Home</a>
            </li>
            <li class="nav-item" style="padding-right: 20px;">
                <a class="nav-link" href="{{ url_for('organizations') }}" style="color: coral;">Organizations</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item" style="padding-right: 20px;">
                    <a class="nav-link" href="{{ url_for('account') }}" style="color: coral;">Account</a>
                </li>
                {% if current_user.is_organization and current_user.answered_organization_questions %}
                    <li class="nav-item" style="padding-right: 20px;">
                        <a class="nav-link" href="{{ url_for('dashboard') }}" style="color: coral;">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown" style="padding-right: 20px;">
                        <a style="border-bottom: solid; border-bottom-color: coral; color: coral;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Post
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('post') }}">Create New Post</a>
                            <a class="dropdown-item" href="{{ url_for('view_posts') }}">View Your Posts</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item" style="padding-right: 20px;">
                    <a class="nav-link" href="{{ url_for('logout') }}" style="color: coral;">Logout</a>
                </li>
            {% else %}
                <li class="nav-item active" style="padding-right: 20px;">
                    <div style="border-bottom: solid; border-bottom-color: coral;"><a class="nav-link" href="{{ url_for('register') }}" style="color: coral;">Register<span class="sr-only">(current)</span></a></div>
                </li>
                <li class="nav-item" style="padding-right: 20px;">
                    <a class="nav-link" href="{{ url_for('login') }}" style="color: coral;">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock navbar_links %}

{% block main %}
    
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="d-flex flex-row align-items-center">
                <h2 class="mt-1" style="color: coral;">View Your Posts</h2>
            </div> <a href="{{ url_for('post') }}" type="button" class="text-center btn btn-small btn-info">Create a New Post</a>
        </div>
        <hr>

        <div style="padding-bottom: 75px;">
            <div>
                {%  if (active_events == "" or active_events == None or active_events == []) and (inactive_events == "" or inactive_events == None or inactive_events == []) %}
                    <p class="text-muted" style="padding-top: 20px;">
                        You have not created any posts yet. To create new events, visit the <a href="{{ url_for('post') }}">post creation page</a>.
                    </p>
                {% else %}
                    <div>
                        <h4 style="padding-top: 30px;">Currently Active Events</h4>
                        <div>
                            {%  if active_events == "" or active_events == None or active_events == [] %}
                                <p class="text-muted" style="padding-top: 20px;">
                                    You do not have any currently active events. To create new events, visit the <a href="{{ url_for('post') }}">post creation page</a>.
                                </p>
                            {% else %}

                                {% for a_event in active_events %}

                                    <div class="row align-items-center text-center" style="padding-top: 50px;">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    {{ a_event.event_location }}
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title" style="padding-top: 20px;">{{ a_event.event_name }}</h5>
                                                    <div style="padding-left: 75px; padding-right: 75px;"><hr></div>
                                                    <p class="card-text" style="padding: 10px;"><b style="padding-right: 10px;">{{ a_event.for_display_event_datetime }}</b>   |   <span class="text-success" style="padding-left: 10px;">{{ a_event.days_until_event }} days until event</span></p>

                                                    <div class="row align-items-center">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-4 align-self-center">
                                                            <img src="{{ a_event.event_img }}" style="max-width: 100%; max-height: 100%;" class="rounded mx-auto d-block">
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-5">
                                                            <div class="text-left">
                                                                <div style="padding: 10px;">
                                                                    <p class="card-text" style="padding-top: 10px;"><b>Brief Description:</b> {{ a_event.event_description }}</p>
                                                                    <p class="card-text"><b>Max Number of Volunteers:</b> {{ a_event.event_max_volunteers }}</p>
                                                                    <p class="card-text"><b>Age Range:</b> {{ a_event.event_min_age }} to {{ a_event.event_max_age }}</p>
                                                                    <p class="card-text" style="padding-bottom: 10px;"><b>Category:</b> {{ a_event.event_category }}</p>
                                                                    <div class="text-left" style="padding-bottom: 10px;">
                                                                        <b>Keywords:</b><br>
                                                                        {% for kw_dict in list_of_keywords_dicts %}
                                                                            {% for item in kw_dict %}
                                                                                {% if "warning" in kw_dict[item] or "info" in kw_dict[item] %}
                                                                                    <span class="badge {{ kw_dict[item] }} text-dark">{{ item }}</span>
                                                                                {% else %}
                                                                                    <span class="badge {{ kw_dict[item] }} text-light">{{ item }}</span>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                    </div>
                                                    <div class="row align-self-center" style="padding-top: 60px; padding-bottom: 20px;">
                                                        <div class="col-md-4"></div>
                                                        <div class="col-md-4">
                                                            <form method="POST" action="" enctype="multipart/form-data">
                                                                <span style="padding-right: 5px;">
                                                                    <button type="submit" class="btn btn-warning" id="edit_post_btn" name="edit_post_btn" value="{{ a_event.id }}">
                                                                        Edit
                                                                    </button>
                                                                </span>
                                                                <span>
                                                                    <button type="submit" class="btn btn-danger" id="delete_post_btn" name="delete_post_btn" value="{{ a_event.id }}">
                                                                        Delete
                                                                    </button>
                                                                </span>
                                                            </form>
                                                        </div>
                                                        <div class="col-md-4"></div>
                                                    </div>
                                                </div>
                                                <div class="card-footer text-body-secondary">
                                                    <div class="row">
                                                        <div class="col-md-2">

                                                        </div>
                                                        <div class="col-md-4">
                                                            <span style="padding-right: 50px;"><b>Posted On:</b> {{ a_event.for_display_post_datetime }}</span>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <span><b>Last Updated:</b> {{ a_event.last_updated }}</span>
                                                        </div>
                                                        <div class="col-md-2">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <p style="padding-top: 20px;"></p><hr>
                    <div>
                        <h4 style="padding-top: 30px;">Inactive/Past Events</h4>
                        <div>
                            {%  if inactive_events == "" or inactive_events == None or inactive_events == [] %}
                                <p class="text-muted" style="padding-top: 20px;">
                                    You do not have any past events. To create new events, visit the <a href="{{ url_for('post') }}">post creation page</a>.
                                </p>
                            {% else %}
                                {% for ina_event in inactive_events %}
                                    <div class="row" style="padding-top: 50px;">
                                        <div class="col-md-4">
                                            <img src="{{ ina_event.event_img }}" class="card-img-top" alt="Event image">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card text-center">
                                                <div class="card-header">
                                                    {{ ina_event.event_location }}
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title" style="padding: 10px;">{{ ina_event.event_name }}</h5>
                                                    <p class="card-text" style="padding: 10px;"><b style="padding-right: 10px;">{{ ina_event.for_display_event_datetime }}</b>   |   <span class="text-warning" style="padding-left: 10px;">{{ ina_event.days_until_event }} days ago</span></p>
                                                    
                                                    <div class="row align-items-center">
                                                        <div class="col-md-3"></div>
                                                        <div class="col-md-3 justify-content-end" style="padding: 10px;">
                                                            <p class="card-text" style="padding-top: 10px;"><b>Brief Description:</b><br>{{ ina_event.event_description }}</p>
                                                        </div>
                                                        <div class="col-md-3 justify-content-end" style="padding: 10px;">
                                                            <p class="card-text"><b>Max Number of Volunteers:</b><br>{{ ina_event.event_max_volunteers }}</p>
                                                        </div>
                                                        <div class="col-md-3"></div>

                                                    </div>

                                                    <div class="row align-items-center">
                                                        <div class="col-md-3"></div>
                                                        <div class="col-md-3 justify-content-start" style="padding: 10px;">
                                                            <p class="card-text"><b>Age Range:</b><br>{{ ina_event.event_min_age }} to {{ ina_event.event_max_age }}</p>
                                                        </div>
                                                        <div class="col-md-3 justify-content-start" style="padding: 10px;">
                                                            <p class="card-text" style="padding-bottom: 10px;"><b>Category:</b><br>{{ ina_event.event_category }}</p>
                                                        </div>
                                                        <div class="col-md-3"></div>
                                                    </div>

                                                </div>
                                                <div class="card-footer text-body-secondary">
                                                    Posted on: {{ ina_event.for_display_post_datetime }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock main %}
